In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [5]:
# Define file names
ship_log_file = "ship_log.csv"
cargo_log_file = "cargo_log.csv"
canal_log_file = "canal_log.csv"
ship_stats_file = "ship_stats.csv"

In [6]:
# Load the CSV files into DataFrames
df_ships = pd.read_csv(ship_log_file)
df_cargos = pd.read_csv(cargo_log_file)
df_canal = pd.read_csv(canal_log_file)
ship_stats = pd.read_csv(ship_stats_file)

In [8]:
print(df_ships.describe())

       Ship    Arrival      Entry  Wait Time  Service Time       Exit  \
0  Boat_229  10.200603  10.200603   0.000000      0.270342  10.470945
1  Boat_605  11.703460  11.703460   0.000000      0.075625  11.779086
2   Boat_28  17.183922  17.183922   0.000000      3.147125  20.331047
3  Boat_460  25.422064  25.422064   0.000000      4.144345  29.566410
4  Boat_715  34.320151  34.320151   0.000000      0.813880  35.134031
5  Boat_105  39.812601  39.812601   0.000000      0.254297  40.066898
6  Boat_827  40.785927  40.785927   0.000000      1.537804  42.323732
7   Boat_81  41.230154  42.323732   1.093577      4.421152  46.744884
8  Boat_592  49.260682  49.260682   0.000000      0.180231  49.440913
9   Boat_82  51.396186  51.396186   0.000000      5.033829  56.430015

           Fee   Cargo Value  Cargo Weight  Cargo Space  Free Weight  \
0  1000.000000  1.448663e+04           428           66          572
1  1000.000000  1.053312e+06         12732          367          764
2  1000.000000  5.245289e+05          2206           50          261
3  1000.000000  8.627226e+05          6425          251         5658
4  1000.000000  1.448663e+04           428           66          572
5  1000.000000  5.245289e+05          2206           50          218
6  1000.000000  1.317950e+06         13589          423         5216
7   477.651324  2.791247e+05          1285          122           48
8  1000.000000  1.196768e+06          9009          489          627
9  1000.000000  1.196768e+06          9009          489         1816

   Free Space                                 Scenario
0          94  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
1          27  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
2         301  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
3          20  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
4         753  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
5         670  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
6          39  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
7        1155  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
8         500  Scenario 1/180: AR=0.1, ST=2.5, Locks=1
9         252  Scenario 1/180: AR=0.1, ST=2.5, Locks=1

In [9]:
# Print DataFrame information and summary statistics
print("DataFrame Info:")
print(df_ships.info())

print("\nDataFrame Description:")
print(df_ships.describe(include='all'))

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63327 entries, 0 to 63326
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Ship          63327 non-null  object
 1   Arrival       63327 non-null  float64
 2   Entry         63327 non-null  float64
 3   Wait Time     63327 non-null  float64
 4   Service Time  63327 non-null  float64
 5   Exit          63327 non-null  float64
 6   Fee           63327 non-null  float64
 7   Cargo Value   63327 non-null  float64
 8   Cargo Weight  63327 non-null  int64
 9   Cargo Space   63327 non-null  int64
 10  Free Weight   63327 non-null  int64
 11  Free Space    63327 non-null  int64
 12  Scenario      63327 non-null  object
dtypes: float64(7), int64(4), object(2)
memory usage: 6.3+ MB
None

DataFrame Description:
           Ship       Arrival         Entry     Wait Time  Service Time  \
count     63327  63327.000000  63327.000000  63327.000000  63327.000000
unique     1000           NaN           NaN           NaN           NaN
top     Boat_52           NaN           NaN           NaN           NaN
freq        278           NaN           NaN           NaN           NaN
mean        NaN    407.319801    491.359389     84.039588      5.590707
std         NaN    276.072997    290.016583    139.826507      6.846899
min         NaN      1.133400      1.133400      0.000000      0.000424
25%         NaN    167.559218    240.046962      0.000000      1.302506
50%         NaN    372.123219    490.743095      5.793275      3.309463
75%         NaN    622.636953    743.756119    118.651269      7.243976
max         NaN    999.790538    999.790538    850.668884     92.918597

                Exit           Fee   Cargo Value  Cargo Weight   Cargo Space  \
count   63327.000000  63327.000000  6.332700e+04  63327.000000  63327.000000
unique           NaN           NaN           NaN           NaN           NaN
top              NaN           NaN           NaN           NaN           NaN
freq             NaN           NaN           NaN           NaN           NaN
mean      496.950097    440.433568  7.157659e+05   6421.995957    227.867750
std       290.108945    461.158524  4.106080e+05   5554.710058    176.927515
min         1.376010      1.174165  1.448663e+04    428.000000     50.000000
25%       245.065810      8.357621  5.390155e+05   2634.000000    100.000000
50%       496.481084    147.204414  7.006315e+05   4789.000000    153.000000
75%       749.273436   1000.000000  9.583065e+05   8085.000000    341.000000
max       999.975276   1000.000000  1.593623e+06  27319.000000    776.000000

         Free Weight    Free Space                                   Scenario
count   63327.000000  63327.000000                                      63327
unique           NaN           NaN                                        180
top              NaN           NaN  Scenario 163/180: AR=0.9, ST=2.5, Locks=3
freq             NaN           NaN                                        922
mean     3766.798206    275.357604                                        NaN
std      7619.996002    439.816366                                        NaN
min         0.000000      0.000000                                        NaN
25%       342.000000     16.000000                                        NaN
50%       702.000000     52.000000                                        NaN
75%      3382.000000    376.000000                                        NaN
max     98551.000000   5228.000000                                        NaN